html, body {
   color: #0E1226;
   font-family: 'Muli', sans-serif;
   margin: 0;
 }

body {
   background: url(bg2.jpg) no-repeat center center fixed;
   background-color: #0E1226;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.deskHeader {
  display: none;
}

.content {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
  display: grid;
  color: #FFF;
}

.logos {
  display: flex;
}

.logobg {
  height: 64px;
  width: 64px;
  margin: 2% auto;
  background-color: #FFF;
  border-radius: 1000px;
  position: relative;
}

.logo {
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.header {
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.emote {
  height: 100%;
  color: #0DBAAE;
  background-color: #0E1226;
  margin-right: 20%;
  font-size: 2em;
  text-align: center;
}

.description {
  background-color: #EEE;
  width: 90vw;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 15% 85%;
}

.disclaimer {
  color: red;
}

.mail {
  color: #0E1226;
}

.form {
  margin: 20px 0px;
}

.check, .establish {
  color: #0DBAAE;
  background-color: #0E1226;
  border: 1px solid #0DBAAE;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
}

.address {
  word-wrap: break-word;
}

.buttons {
  margin-top: 10px;
}

.freepik {
  color: #BBB;
  text-decoration: none;
  margin-left: 2%;
}

/* Animation */

.down {
  animation: 3s ease-in-out 0s 1 slideDown;
}

.left {
  animation: 3s ease-in-out 0s 1 slideLeft;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.right {
  animation: 3s ease-in-out 0s 1 slideRight;
  animation-delay: 3.8s;
  animation-fill-mode: backwards;
}

.up {
  animation: 3s ease-in-out 0s 1 slideUp;
  animation-delay: 4.6s;
  animation-fill-mode: backwards;
}

@keyframes slideDown {
  0% { transform: translateY(-250%);}
  80% { transform: translateY(3%);}
  100% { transform: translateY(0);}
}

@keyframes slideLeft {
  0% { transform: translateX(150%);}
  80% { transform: translateX(-3%);}
  100% { transform: translateX(0);}
}

@keyframes slideRight {
  from { transform: translateX(-150%);}
  80% { transform: translateX(3%);}
  to { transform: translateX(0);}
}

@keyframes slideUp {
  from { transform: translateY(200%);}
  80% { transform: translateY(-3%);}
  to { transform: translateY(0);}
}

@media (min-width: 800px) {

  .header {
    display: none;
  }

  .deskHeader {
    display: block;
  }

  h1 {
    display: block;
  }

  .description {
    margin: 1% auto;
    grid-template-columns: 7% 93%;
  }
}
