<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/tx.css">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <title>Executed transactions</title>
</head>
<body>
  <h1>transactions</h1>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>date/time</th>
        <th>source</th>
        <th>target</th>
        <th>TN tx</th>
        <th>ETH tx</th>
        <th>amount</th>
        <th>fee</th>
      </tr>
    </thead>
    <tbody>
      {% for tx in txs %}
      <tr>
        <td>{{tx[0]}}</td>
        <td>{{tx[5]}}</td>
        <td>{{tx[1]}}</td>
        <td>{{tx[2]}}</td>
        <td><a href="https://explorer.turtlenetwork.eu/tx/{{tx[3]}}" target="_blank">{{tx[3]}}</a></td>
        <td>{{tx[4]}}</td>
        <td>{{tx[6]}}</td>
        <td>{{tx[7]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
