<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="tx.css">
  <title>Document</title>
</head>
<body>
  <h1>Errors</h1>
  <table class="table">
    <thead>
      <tr>
        <th>hello</th>
        <th>hello</th>
        <th>hello</th>
        <th>hello</th>
        <th>hello</th>
        <th>hello</th>
        <th>hello</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
      </tr>
      <tr>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
        <td>bye</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
